
body {
    background-image: url('/src/Asserts/obratno.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

h3, h4, p, li, ul  {
    color: white;

    }

    .about li ul {
list-style-type: none;
    }

   